{% extends 'base.html.twig' %}

{% block body %}

        <div id="main" class="clearfix">
            <div class="test">Test de développement</div>

            <div id="content-left">
                {{ form_start(newsletter_form, {'attr': {'class': 'newsletter-form rounded'}}) }}
                    <h2>La newsletter</h2>
                    <p>L'actu et les bonnes affaires à ne pas manquer</p>
                    <fieldset class="clearfix">
                        {{ form_widget(newsletter_form.email, {'attr': {'class': 'autoclear', 'placeholder': 'Votre adresse email...'}}) }}{{ form_widget(newsletter_form.submit) }}
                    </fieldset>
                    <div class="input-group has-error">
                        {{ form_errors(newsletter_form.email) }}
                    </div>
                {{ form_end(newsletter_form) }}

             <div class="news-list">
                 <ul>
                     {% for new in news|slice(0, 3) %}
                         <li class="clearfix">
                             <a href="#">
                                 {% if new.picture %}
                                     <img width="160" height="140" src="{{ asset('uploads/' ~ new.picture)  }}" alt="picture_{{ new.id }}">
                                 {% else %}
                                     <img width="160" height="140" src="{{ asset('bundles/app/img/sample/news-1.jpg' ~ new.picture)  }}" alt="picture_{{ new.id }}">
                                 {% endif %}
                             </a>
                             <h3><a href="#"><span class="bullet">&bull;</span> {{ new.title }}</a></h3>
                             <em>{{ new.createdAt|date('d/m/Y H:i') }}</em>
                             <a href="#" class="more">En savoir plus >></a>
                             <p>{{ new.content|slice(0, 130) }}</p>
                         </li>
                     {% endfor %}
                 </ul>
                 <a href="#" class="button">Voir toutes les actualités</a>
             </div>
        </div>

        <div id="content-right">
            <div class="contact-form rounded">
                <h2>Contactez-nous par téléphone ou par mail</h2>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                <p class="phone">03 28 330 830</p>
                {{ form_start(contact_form) }}
                    <ul>
                        <li class="clearfix">
                            {{ form_label(contact_form.lastname) }}
                            {{ form_widget(contact_form.lastname) }}
                        </li>
                        <li>{{ form_errors(contact_form.lastname) }}</li>
                        <li class="clearfix">
                            {{ form_label(contact_form.firstname) }}
                            {{ form_widget(contact_form.firstname) }}
                        </li>
                        <li>{{ form_errors(contact_form.firstname) }}</li>
                        <li class="clearfix">
                            {{ form_label(contact_form.email) }}
                            {{ form_widget(contact_form.email) }}
                        </li>
                        <li>{{ form_errors(contact_form.email) }}</li>
                        <li class="clearfix">
                            {{ form_label(contact_form.object) }}
                            {{ form_widget(contact_form.object) }}
                        </li>
                        <li>{{ form_errors(contact_form.object) }}</li>
                        <li class="clearfix">
                            {{ form_label(contact_form.content) }}
                            {{ form_widget(contact_form.content) }}
                        </li>
                        <li>{{ form_errors(contact_form.content) }}</li>
                        <li class="align-right ">
                            {{ form_widget(contact_form.submit) }}
                        </li>
                    </ul>
                {{ form_end(contact_form) }}
            </div>
            <div class="paragraphs rounded box">
                <h2><span class="bullet">&bull;</span> Les paragraphes</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing. <br /> Lorem Ipsum passages, and more recently with desktop publishing.</p>
            </div>
        </div>

        <div id="content-bottom">
            <div class="last-news">
                <h2>Découvrez les dernières nouveautés</h2>
                <div class="slider-container">
                    <div class="slider">
                        <ul class="items">
                            {% for new in news %}
                                <li>
                                    {% if new.picture %}
                                        <a href="#"><img height="136" width="186" src="{{ asset('uploads/' ~ new.picture)  }}" alt="Slide {{ new.id }}" /></a>
                                    {% else %}
                                        <a href="#"><img height="136" width="186" src="http://lorempixel.com/186/136/nature/1" alt="Slide {{ new.id }}" /></a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <span><a href="javascript:void(0);" class="prev">Précédent</a></span>
                    <span><a href="javascript:void(0);" class="next">Suivant</a></span>
                </div>
            </div>
            <div class="accordion">
                <ul>
                    <li>
                        <div class="accordion-title">
                            <h3>What is Lorem Ipsum?</h3>
                        </div>
                        <div class="pane">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br />
                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br />
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <p class="align-right">
                                <a href="#">Lire la suite >></a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h3>Where does it come from?</h3>
                        </div>
                        <div class="pane">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br />
                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br />
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <p class="align-right">
                                <a href="#">Lire la suite >></a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                                <h3>Why do we use it?</h3>
                        </div>
                        <div class="pane">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br />
                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br />
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <p class="align-right">
                                <a href="#">Lire la suite >></a>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
{% endblock %}